
body {
    background-color: rgb(103, 26, 26);
}

h1 {
    color: white;
    font-size: 2rem;
    display: flex;
    justify-content: center;
}

button {
    font-size: 1.2rem;
    font-style:initial;
    background-color: black;
    color: white;
    border: 2px solid rgb(255, 255, 255);
    padding: 12px;
    width: 240px;
}

nav {
    display: flex;
    justify-content: center;
    gap: 10px;
}

/* content page for generating tabs */
#content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

img {
    margin: 0;
    border: 2px solid rgb(255, 255, 255);
}

/* home tab */ 
.schedule-hours {
    color: white;
    font-size: 1.5rem;
}



/* menu tab */

.menu-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 1.2rem;
}

.menu-item p {
    font-size: 1.4rem;
    color:aliceblue;
    padding: 1.2rem;
}


/* rsvp tab */
.rsvp-form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(6, 1fr);
    font-size: 1.6rem;
    color: white;
}

label {
    text-align: end;
    margin-right: 5px;
    margin-bottom: 10px;
}

input {
    margin: 5px;
}

/* contact tab */
.address {
    color: white;
    margin-top: 1.1rem;
    font-size: 1.5rem;
}